# EAS
EXPO_PUBLIC_EAS_PROJECT_ID=your_eas_project_id

# API
# EXPO_PUBLIC_API_URL=http://192.168.1.17:8000/api/v1

EXPO_PUBLIC_API_URL=https://api.mehndigo.in/api/v1


# ye main file h es me hi url chang karna h
