# EAS
EXPO_PUBLIC_EAS_PROJECT_ID=your_eas_project_id

# API
# EXPO_PUBLIC_API_URL=http://98.70.11.123:3000
# 
EXPO_PUBLIC_API_URL=https://mehandigo-api.globalrns.com/api/v1


# ye main file h es me hi url chang karna h
